##generate by ansible
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=HK

network={
        ssid="{{ssid_name1}}"
        psk="{{ssid_password1}}"
}

network={
        ssid="{{ssid_name2}}"
        psk="{{ssid_password2}}"
}
